
body{
    padding: 0;
    margin: 0;    
    padding-top: 0.5rem;
}

.one_bei{
    width: 100%;    
    background: url("../img/bei.png") no-repeat;
    background-size: 100% 94%;
}
.quan_xiang{
    position: relative;
    height: 100%;      
}
.noe_dibu{
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 0.3rem;
    margin-left: -0.3rem;
    width: 2%;
}
.one_top{
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -4rem;
}
.one_top .quan{
    width: 4%;
    margin: 5% 3%;
}
.one_top .ziti{
    width: 44%;
}

.one_cen{
    position: absolute;
    top: 9rem;
    width: 100%;
}
.one_cen img{
    margin: auto;
    display: block;
    margin-bottom: 0.3rem;
}
.one_cen .a1{
    width: 62%;   
}
.one_cen .a2{
    width: 79%;
}
.one_cen .a3{
    width: 7%;
}
.di_bu{
    position: absolute;
    bottom: 5em;
    width: 100%;
}
.di_bu img{
    display: block;    
}
.di_bu .a1{
    width: 18%;
    margin: 1rem auto;
}
.di_bu .a2{
    width: 30%;
    margin: auto;
}

.two_cen{
    position: absolute;
    top: 5em;
    width: 100%;
    text-align: left;
}
.two_cen .a1{
    width: 24%;
    margin-left: 8%;
    margin-bottom: 4%;
}
.two_cen .a2{
    width: 98%;
    margin-bottom: 11%;
}
.two_cen .a3{
    width: 70%;
    margin-left: 8%;
}

.san_cen{
    position: absolute;
    top: 6em;
    text-align: left;
}
.san_cen .a1{
    width: 28%;
    margin-left: 8%;
    margin-bottom: 4%;
}
.san_cen .a2{
    width: 98%;
    margin-bottom: 4%;
}
.san_cen .a3{
    width: 80%;
    margin-left: 8%;
}
.zyou{
    position: absolute;
    top: 15em;
    width: 98%;
    margin-right: 2%;
    overflow: hidden;
}
.zyou img{
    width: 84%;
}
.san_cen .a4{
    width: 98%;
    position: absolute;
    left: 1%;
    top: 15em;
}
.swiper-slide{
    background: none !important;    
}
/* .san_cen .a5{
    width: 82%;
    margin: 8% 0 0 9%;
} */

.si_cen{
    position: absolute;
    top: 6em;
    text-align: left;
}
.si_cen .a1{
    width: 28%;
    margin-left: 8%;
    margin-bottom: 4%;
}
.si_cen .a2{
    width: 98%;
    margin-bottom: 12%;
}

.si_cen .a3{
    display: block;
    width: 70%;
    margin-left: 8%;
}
.si_cen .a4,.si_cen .a8{
    margin-left: 8%;
    width: 20%;
    margin-right: 6%;
}
.si_cen .a5,.si_cen .a6{
    width: 20%;
    margin-right: 6%;
}
.si_cen .a7{
    display: block;
    margin-left: 8%;
    width: 60%;
    margin-bottom: 6%;
}

.wu_bei{
    background-size: 100% 100%;
}
.wu_cen{
    position: absolute;
    top: 11em;
    width: 100%;
}
.wu_cen .a1{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 3em;
}
.wu_cen .a2{
    width: 34%;
}