
body{
    padding: 0;
    margin: 0;    
    padding-top: 0.5rem;
}

.one_bei{
    width: 100%;    
    background: url("../img/bei.png") no-repeat;
    background-size: 100% 94%;
}
.quan_xiang{
    position: relative;
    height: 100%;
    top:1rem;    
}
.noe_dibu{
    position: absolute;
    bottom: 1.6em;
    left: 50%;
    width: 0.3rem;
    margin-left: -0.5rem;
    width: 2%;
}
.one_top{
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -4rem;
}
.one_top .quan{
    width: 4%;
    margin: 5% 3%;
}
.one_top .ziti{
    width: 44%;
}

.one_cen{
    position: absolute;
    top: 4rem;
    width: 100%;
}
.one_cen img{
    margin: auto;
    display: block;
    margin-bottom: 0.3rem;
}
.one_cen .a1{
    width: 62%;   
}
.one_cen .a2{
    width: 79%;
}
.one_cen .a3{
    width: 7%;
}
.di_bu{
    position: absolute;
    bottom: 4em;
    width: 100%;
}
.di_bu img{
    display: block;    
}
.di_bu .a1{
    width: 18%;
    margin: 0.9rem auto;
}
.di_bu .a2{
    width: 30%;
    margin: auto;
}